* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --bg-color: #f3f5f9;
  --bg2-color: #fff; 
  --bg3-color: #42b72a;
  --bg4-color: #fffbe2;
  --border-color: #ccc;
  --border2-blue-color: #1877f2;
  --black-color: #000;
  --red-color: #ff0000; 
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  overflow: hidden;
}
.for-mobile {
  visibility: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: 1150px;
  margin-top: -4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.container .left-container {
  padding-right: 2rem;
}

.container .left-container .logo img {
  margin-top: -4rem;
  width: 20rem;
}
.container .left-container .text {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 1.7rem;
  width: 30rem;
}
.container .right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .right-container form {
  background-color: var(--bg2-color);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}
.container .right-container .email #email {
  width: 22rem;
  height: 3rem;
  padding: 1rem 7rem 1rem 0rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--border-color);
  padding: 1rem;
  margin: 0.5rem;
}
.container .right-container .email #email:focus {
  outline: none;
  border: 1px solid var(--border2-blue-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container .right-container .email #email::placeholder {
  font-size: 1rem;
  font-weight: 500;
}
.container .right-container .password #password {
  width: 22rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--border-color);
  padding: 1rem;
  margin: 0.5rem;
}
.container .right-container .password #password:focus {
  outline: none;
  border: 1px solid var(--border2-blue-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container .right-container .password #password::placeholder {
  font-size: 1rem;
  font-weight: 500;
}
.container .right-container .login-btn input {
  width: 22rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--border2-blue-color);
  color: var(--bg2-color);
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0.5rem;
  cursor: pointer;
}
.container .right-container .login-btn input:hover {
  background-color: var(--border2-blue-color);
}
.container .right-container .forgot-password {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.5rem;
  color: var(--border2-blue-color);
  cursor: pointer;
}

.container .right-container .forgot-password a {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem;
  color: var(--border2-blue-color);
  cursor: pointer;
  text-decoration: none;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--border-color);
}
.container .right-container .forgot-password a:hover {
  text-decoration: underline;
}
.or {
  visibility: hidden;
}

.container .right-container .create-account {
  background-color: var(--bg3-color);
  padding: 0.7rem 2rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1rem;
}
.container .right-container .create-account a {
  text-decoration: none;
  color: var(--bg2-color);
  font-weight: 600;
}
.create-a-page {
  font-size: 1rem;
  margin: 0.5rem;
  color: var(--black-color);
  margin-top: 1.5rem;
  text-align: center;
}
.create-a-page a {
  color: var(--black-color);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.create-a-page a:hover {
  text-decoration: underline;
}
.email-error-message {
  color: var(--red-color);
  font-size: 0.8rem;
  margin: 0.1rem;
}
.password-error-message {
  color: var(--red-color);
  font-size: 0.8rem;
  margin: 0.1rem;
}
.lan-container {
  display: none;
}
.footer {
  display: none;
}